@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html, body {
  height: 100%;
}

.profile {

  * {
    box-sizing: border-box;
  }

  .container {
    margin-bottom: 3em;
  }

  #body {
    background: linear-gradient(-45deg, #070218FF, #343a65, #62688a, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    min-height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h1 {
    font-weight: bold;
    margin: 0.5em 0 0 0;
  }

  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  h1 > span {
    font-size: 30px;
  }

  .info {
    font-size: 20px;
    margin: 10px 0 5px 0;
  }

  span {
    color: #8981ff;
    font-size: 14px;
    font-weight: bold;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2em;
  }

  table {
    border-collapse: separate;
    border-spacing: 1em 2em;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 0;
  }

  tr {
    border: none;
    padding: 12px 15px;
    width: 100%;
  }

  .container {
    color: #ffffff;
    background-color: #2e3f6f;
    opacity: 0.9;
    border-radius: 10px;
    border: solid black 2px;
    -webkit-box-shadow: 8px -5px 19px 5px rgba(0, 0, 0, 0.95);
    box-shadow: 8px -5px 19px 5px rgba(0, 0, 0, 0.95);
    position: relative;
    width: 70%;
    max-width: 100%;
    min-height: 480px;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  #menu-bar {
    justify-self: flex-start;
    margin-bottom: 3em;
  }

  .cont {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cont ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 3em;
    grid-column-gap: 3em;
    margin: 1.5em;
    padding: 0;
  }

  .cont ul .movie_li_div div {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .first, .second {
    font-size: 30px;
    font-weight: bold;
    margin: 1em 0 1em 0;
  }

  .star {
    display: flex;
    justify-content: center;
  }

  .reviewList li {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    gap: 0.2em 1em;
    grid-template-areas:
    "grid_pic grid_star"
    "grid_title grid_review"
    "grid_date grid_review";
  }

  .reviewList li div {
  }

  .grid_pic {
    grid-area: grid_pic;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid_title {
    grid-area: grid_title;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .grid_date {
    grid-area: grid_date;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .grid_star {
    grid-area: grid_star;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid_review {
    grid-area: grid_review;
    display: flex;
    justify-content: center;
  }

  li {
    overflow-wrap: anywhere;
  }

  .remove {
    color: #930000;
    font-weight: bold;
  }

  .remove:hover {
    color: white;
  }

}
