#searchresult{

  #searchlist{
    list-style: none;
    margin: 0;
    border: 0;
  }

  .movie_title{
    font-size: 130%;
    font-weight: bold;
    color:black;
  }

  .movie_release_date{
    font-size: 110%;
    font-weight: 500;
    color:grey;
  }

  #searchlist li{
    transition: all 0.3s ease 0s;

    padding-bottom: 40px;
    position:relative

  }



  #searchlist li:hover{
    color:#0088a9;
    background-color: #d2d1d3;
  }

  .movie_li_div{
    display: inline-block;
    align-content: space-between;
  }

  .movie_li_div span{
    padding-bottom: 35px;
  }

  #searchlist li{
    border-bottom: 1px solid black;
  }



}