<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" th:href="@{/css/profile.css}"/>
<body>
<div class="container" sec:authorize="isAuthenticated()">
    <form>
    <h1>Welcome to your profile, <span id="firstSpan" sec:authentication="principal.firstName"></span>!</h1>
    <span class="message">Here is your personal information: </span>
    <table>
        <tr><td>First name: </td><td><span sec:authentication="principal.firstName"></span></td></tr>
        <tr><td>Last name: </td><td><span sec:authentication="principal.lastName"></span></td></tr>
        <tr><td>Email address: </td><td><span sec:authentication="principal.email"></span></td></tr>
    </table>
    </form>
</div>
</body>
</html>