<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" th:href="@{/css/profile.css}"/>
<body>
<div class="container" sec:authorize="isAuthenticated()">
    <div class="form">
        <h1>Welcome to your profile, <span id="firstSpan" sec:authentication="principal.firstName"></span>!</h1>
        <div class="info">Here is your personal information: </div>
        <table>
            <tr>
                <td>First name:  <span th:text="${T(com.example.user_management_system.user.UserService).getString()}"></span></td>
                <td><span sec:authentication="principal.firstName"></span></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><span sec:authentication="principal.lastName"></span></td>
            </tr>
            <tr>
                <td>Email address:</td>
                <td><span sec:authentication="principal.email"></span></td>
            </tr>
            <tr>
                <td>Account created at:</td>
                <td><span sec:authentication="principal.registerDate"></span></td>
            </tr>
        </table>
    </div>
    <div class="back-button">
        <form name="logoutForm" action="/home" th:action="@{/logout}" method="post">
            <button type="submit">Sign out</button>
        </form>
    </div>
</div>
</body>
</html>