.movie {

    * {
        box-sizing: border-box;
    }

    #body {
        background: linear-gradient(-45deg, #070218FF, #343a65, #62688a, #ffffff);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
    }


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    h1 {
        font-weight: bold;
        margin: 0;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    h1 > span {
        font-size: 30px;
    }


    span {
        color: #8981ff;
        font-size: 14px;
        font-weight: bold;
    }

    button {
        border-radius: 20px;
        border: 1px solid #8981ff;
        background-color: #8981ff;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    .button {
        padding-top:2em;
        border-radius: 20px;
        border: 1px solid #6c6983;
        background-color: #5d5c6c;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

    .form {
        background-color: #FFFFFF;
        width:75vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    table {
        border-collapse: separate;
        border-spacing: 1em 2em;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 0;
        width:100%
    }

    tr {
        border: none;
        padding: 12px 15px;
        width: 100%;
    }

    .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
        border-color: black;
        position: relative;
        padding:1em;
        overflow:auto;
        width: 78vw;
        max-width: 100%;
        min-height: 480px;
    }

    .container.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }

    .container.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

    .container.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }

    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .container.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .container.right-panel-active .overlay-right {
        transform: translateX(20%);
    }



    #currentCast, #currentRecom {
        list-style: none;
        padding: 0;
    }

    #currentCast li{
        display: inline;
        padding: 0;
    }

    #currentRecom li{
        display: inline;
        padding: 0;
    }

    #maininfo{
        padding-top:3em;
        display: flex;
        height:50em;
    }
    #maininfo img{
        height:48em;
        width: auto;
        padding-left:1em;
        padding-right:1em;
        float:left;
    }

    #maininfo iframe{
        text-align: center;
    }

    #title{
        font-size: 500%;
        float:left;
    }

    #traileranddesc{
        width:80%;
        padding-left:2em;
        float:right;
        justify-content: center;
        text-align: center;
    }

    #traileranddesc .overview{
        padding-top:3em;
        width:600px;
        float:bottom;
        font-size: 20px;
        margin: 10px 0 5px 0;

    }

    #watchlater{
        padding-top:2em;
    }

    #secondaryInfo{
        padding-top:5em;
        display: inline-block;
        max-width: 100%;
    }

    .infoElement{
        display: inline-block;
        padding-left:1.5em;
        padding-right:1.5em;
        padding-top:3em;
        font-size: 200%;
    }

    .infoName{
        display:inline-block;
    }

    .infoValue{
        padding-left:1em;
        display:inline-block;
    }

    .directors{
        display: inline-block;
        padding-left:1.5em;
        padding-right:1.5em;
        padding-top:3em;
        font-size: 250%;

    }



    #actors{
        padding-top:5em;
        display: flex;
        width:100%;
        padding-bottom: 5em;
        align-items: center;
    }

    #currentCast{
        display: inline-block;
        width:100%;
    }

    #currentCast img{
        width: 10em;
    }
    .actor{
        display: inline-block;
        width:15em;
        vertical-align:top;
        height: 25em;
        border-style: solid;
        border-radius: 1em;
        border-color:black;
        background: #202628;
        color:white;

    }

    .actor:hover{
        color:white;
        background: #343356;
        transition: 0.4s;
    }

    .slidingButtonLeft,.slidingButtonRight{
        background: #000000;
        font-size:800%;
        border-radius: 10%;
        color: #6e6e6e;
        padding-bottom: 0.1em;
    }

    .slidingButtonLeft:hover,.slidingButtonRight:hover{
        background: #7c7b7b;
        color:black;
        transition: 0.4s;
    }


    .slidingButtonLeft{
        position: relative;
        left:0.5em;
    }

    .slidingButtonRight{
        position: relative;
        right:0.5em;
    }

    .actorName{
        font-weight: bold;
        font-size:120%;
    }

    .actorCharacter{
        font-weight: bold;
        font-size:120%;
    }









    #recommendations{
        padding-top:5em;
        display: flex;
        width:100%;
        padding-bottom: 5em;
        align-items: center;
    }

    #currentRecom{
        display: inline-block;
        width:100%;
    }

    #currentRecom img{
        width: 10em;

    }
    .movieRecommendation{
        display: inline-block;
        width:15em;
        vertical-align:top;
        height: 27em;
        border-style: solid;
        border-radius: 1em;
        border-color:black;
        background: #202628;
        color:white;
    }

    .movieRecommendation:hover{
        color:white;
        background: #343356;
        transition: 0.4s;
    }

    .movie_title{
        font-weight: bold;
        font-size: 130%;
    }

    .ratings{
        padding-top:1em;
        display:flex;
        height: 5em;
        margin-bottom: auto;

    }

    .rating {
        width:33%;
        padding: 0.7em;
        padding-top: 32px;
        background-color: #aca6a6;
        color: black;
        border-radius: 10px;
        display:inline-block;
        height: 100%;
    }



    .verified-rating {
        padding: 0.7em;
        background-color: #d7d7dd;
        color: black;
        border-radius: 10px;
        display:inline-block;
        height: 100%;
        width:33%;
        text-align: center;
    }

    #tickimg{
        text-align: center;
        height: 20px;
        width: 20px;
        margin-left: auto;
        margin-right: auto;

    }
    #tickimg img{
        width: 100%;
        height: 100%;

    }

    .tmdb-rating {
        padding: 0.7em;
        background-color: #f3f3f3;
        color: black;
        border-radius: 10px;
        display:inline-block;
        height: 100%;
        width:33%;
        text-align: center;
    }


    #tmdbimg{
        text-align: center;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    #tmdbimg img{
        width: 100%;
        height: 100%;

    }

    #movieRating{
    }

    #mainRatings{
        display:inline-block;
        padding-bottom: 5em;
    }

    .mainRating{
        font-size: 200%;
        padding-left:2em;
        padding-right:2em;
        display:inline-block;
    }

    .ratingTitle{
        display:inline-block;
    }

    .ratingValue{
            padding-top: 0.2em;
        color: #7f29d6;
    }

    button:hover{
        background: #b080e3;
        transition: 0.4s;
    }

    #reviewButton{
        width: 15em;
    }

    #createReview{
        padding-bottom: 3em;
    }

    #popUpReview{
        width:700px;
    }

    #verifySpace{
        padding-top:1em;
    }

    #ratingResult{
        display:inline-block;
    }
    #ratingStars{

    }

    #ratingText{
        width: 500px;
        height: 200px;
        resize: none;
        font-size:110%;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5em;
        border-radius: 0.5em;
        border-color:black;
        border-width: 0.2em;
        background: white;
    }



    #verifyMenu{
        display:block;
    }

    .verifyButton{
        padding-top:1em;
        text-align: center;
        display:block;
        float:bottom;
    }

    #quiz{
        font-size: 150%;
        max-height: 550px;
        overflow:auto;
    }

    .quizElement{
        padding-top:1em;
    }

    .question{
        font-size: 200%;
    }

    .answer{
        display: flex;
        align-items: center;

        border-radius: 100px;
        padding: 14px 16px;
        margin: 10px 0;

        cursor: pointer;
        transition: .3s;
    }

    .answer:hover,
    .answer:focus-within {
        background: hsla(0, 0%, 80%, .14);
    }

    .answers{

    }

    .quizButton{
        padding-top:1em;
        text-align: center;
        display:block;
        vertical-align: bottom;

    }

    .quizDesign{
        width: 22px;
        height: 22px;
        border-radius: 100px;

        background: linear-gradient(to right bottom, hsl(252, 100%, 85%), hsl(250, 100%, 72%));
        position: relative;
    }

    .quizDesign::before {
        content: '';

        display: inline-block;
        width: inherit;
        height: inherit;
        border-radius: inherit;

        background: hsl(0, 0%, 90%);
        transform: scale(1.1);
        transition: .3s;
    }

    .quizInput:checked+.quizDesign::before {
        transform: scale(0);
    }
    .answerText{
        color: hsl(0, 0%, 60%);
        margin-left: 14px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 900;

        transition: .3s;
    }

    .quizInput:checked~.answerText {
        color: hsl(0, 0%, 40%);
    }

    .quizInput{
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
        z-index: -1;
    }



    #reviews{
        display:inline-block;
        background: #dac9f6;
        border-color: black;
        border-width:0.5em;
        border-style: solid;
        border-radius: 1em;
    }


    .review{
        display:inline-block;
        min-width: 15em;
        padding:4em 5em 2em 5em;
        max-width: 50em;
        height: auto;
        overflow-wrap: break-word;
    }

    .reviewStars{
        display:flex;

    }

    .reviewComment{
        max-width: 50em;
        display: flex;
        overflow-wrap: break-word;
        word-break: break-all;

    }

    .reviewMetaData{
        display:block;
        text-align: right;
        padding-top:1em;
    }

    .reviewNickName{
        padding-top:0.2em;
        display:block;
    }

    .reviewDate{
        padding-top:0.2em;
        display:block;
    }

    .verifiedReview{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left:1em;

    }

    .reviewHeader{
        display:flex;
        justify-content: center;
        padding-bottom:1em;
    }

    #dashboard-button{
        text-align: center;
        display: flex;
        justify-content: center;
        width:300px;
        margin-top:2em;
    }

    #dashboard-button-div{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #verifiable{
        padding-top:1em;
    }



    #menu-bar{
        display: flex;
        justify-content: center;
    }
    .menu-bar{
        border-radius: 25px;
        height: fit-content;
        display: inline-flex;
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        align-items: center;
        padding: 0 10px;
        margin: 50px 0 0 0;
    }

    .menu-bar li{
        list-style: none;
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        padding: 12px 16px;
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
    }


}